{% extends "base.html" %}

{% block content %}

<div class="hero">

<h1>🚀 AI Interview Preparation Assistant</h1>

<p>
Prepare smarter with AI-powered resume analysis,
ATS scoring, mock interviews, and personalized feedback.
</p>

<br>

<a href="/register" class="btn btn-primary btn-lg">
Get Started
</a>

<a href="/login" class="btn btn-outline-dark btn-lg">
Login
</a>

</div>

<div class="row mt-5">

<div class="col-md-4">

<div class="card p-4 text-center">

<h3>📄 Resume Analysis</h3>

<p>Upload your resume and identify strengths and improvements.</p>

</div>

</div>

<div class="col-md-4">

<div class="card p-4 text-center">

<h3>💬 Mock Interview</h3>

<p>Practice technical and HR interviews with AI-generated questions.</p>

</div>

</div>

<div class="col-md-4">

<div class="card p-4 text-center">

<h3>📊 ATS Score</h3>

<p>Get your ATS compatibility score and improvement suggestions.</p>

</div>

</div>

</div>

{% endblock %}