<!DOCTYPE html>
<html>

<head>

<title>Job Description Match</title>

<style>

body{
    font-family:Arial;
    background:#f4f6f9;
}

.box{

    width:800px;

    margin:auto;

    margin-top:40px;

    background:white;

    padding:30px;

    border-radius:10px;

    box-shadow:0 0 10px lightgray;

}

textarea{

    width:100%;

    height:220px;

    padding:10px;

}

button{

    padding:12px 25px;

    background:#3498db;

    color:white;

    border:none;

    border-radius:5px;

    cursor:pointer;

}

.score{

    font-size:32px;

    color:green;

}

</style>

</head>

<body>

<div class="box">

<h1>Resume vs Job Description</h1>

<form method="POST">

<textarea
name="job_description"
placeholder="Paste Job Description Here"
required></textarea>

<br><br>

<button type="submit">

Compare Resume

</button>

</form>

{% if score is defined %}

<hr>

<h2 class="score">

Match Score : {{ score }}%

</h2>

<h3>Matched Skills</h3>

<ul>

{% for item in matched %}

<li>{{ item }}</li>

{% endfor %}

</ul>

<hr>

<h3>Recommended Keywords</h3>

<ul>

{% for keyword in recommended_keywords %}

<li>{{ keyword }}</li>

{% endfor %}

</ul>

<h3>Missing Skills</h3>

<ul>

{% for item in missing %}

<li>{{ item }}</li>

{% endfor %}

</ul>

{% endif %}

<br>

<a href="{{ url_for('dashboard') }}">

<button>

Back to Dashboard

</button>

</a>

</div>

</body>

</html>